/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{
    font-family: poynter-oldstyle-display, serif;
    font-style: normal;
    font-weight: 400;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%

}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
li {
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    color:white;
    margin-right:10px;    
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:700
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(@import url("https://use.typekit.net/xcp2etk.css");

#download {
font-family: poynter-oldstyle-display-nar, serif;
font-weight: 400;
font-style: normal;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #1b4456;
    text-shadow: none;
}

::selection {
    background: #1b4456;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p, ul, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    color: #fff;
    font-family: poynter-oldstyle-display-nar, serif;
    font-style: normal;
    font-weight: 400;
    background: black;
}

.logo {
    width: 20%;
}

.contact-links {
    padding-top: 1em !important;
}

.right {
    justify-content: center;
    background: url(img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

img .right {
}
.right p {
    position: relative;
}

.right p:before {
    content: '';
    width: 0.5625em;
    height: 0.5625em;
    position: absolute;
    top: 0.3em;
    left: -2em;
}

.whiteLogo {
	filter: brightness(10);
    width: 21%;
    padding-top: 35.5%;
    margin-left: 40%;
}
.wrapper {
    text-align: center;
}
.wrapper ul, .wrapper img {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.wrapper li {
    float: left;
    padding: 2px 5px;
}
.underline {
    z-index: 10;
}
.album {
    z-index: 20;
    max-width: 24em;
}
.flex-center {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  resize: vertical;
  overflow: auto;
}
.flex-center p {
  margin: 0;
  padding: 20px;
}
.artist {
  height: 1.5em;
}
.icon {
    height: 1.2em;
}
.mail
{
    opacity: .5;
    height: 1.5em !important;
}
img.store {
  padding-top: 1em;
  height: 1.8em;
}
img.underline {
  height: 1.5em;
}
.start {
    padding-top: 2em;
}

.store:hover {

}

@media only screen and (max-width: 500px) {
    
    img.album {
        max-height: 18em;
    }

    .start {
    padding-top: 5em;
    }
    
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 110em) {
    .right p {
        width: 60%;
    }
}

@media only screen and (max-width: 100em) {
    .right p {
        width: 65%;
    }
}

@media only screen and (max-width: 90em) {
    .right p {
        width: 75%;
    }
}

@media only screen and (max-width: 80em) {
    .right p {
        width: 85%;
    }
}

@media only screen and (max-width: 70em) {
    .right p {
        width: 100%;
    }
}

@media only screen and (max-width: 60em) and (orientation: portrait) {
    body {
        flex-direction: column;
        background-position: center bottom;
        background-size: contain;
    }

    .left, .right {
        width: 100%;
    }

    .right {
        justify-content: flex-start;
        height: auto;
    	min-height: 100vh;
    }

    .right p {
        margin-left: 7.64%;
        margin-top: 7.64%;
        width: 60%;
    }

    .right p:before {
        left: -1.5em;
    }

}

@media only screen and (max-width: 45em) and (orientation: portrait)  {
    .logo {
        width: 50%;
    }
    .right {
    	height: auto;
    	min-height: 100vh;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


